<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Crea il tuo cartello VENDESI con QR code 🪧</title>
  <meta name="description"
    content="Genera il tuo cartello di vendita con QR Code integrato online. Semplice, gratuito, personalizzabile, pronto per la stampa.">
  <meta property="og:url" content="https://github.com/MarcoGargano/cartello-vendesi">
  <meta property="og:type" content="website">
  <meta property="og:title" content="🪧 Crea il tuo cartello VENDESI con QR code">
  <meta property="og:description"
    content="Genera il tuo cartello di vendita con QR Code integrato online. Semplice, gratuito, personalizzabile, pronto per la stampa.">
  <meta property="og:image" content="https://getapp-it.github.io/cartello-vendesi/images/share.jpg">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <meta name="theme-color" content="#fefe21" />
  <meta name="google-site-verification" content="kCIGPOMfoG9s_kFCsJrS7vcmgS5xBGsn8-KTbW6vc34" />
  <meta name="msvalidate.01" content="6DACF9DA5A03C2C48392AF77AD5ED6BB" />
  <script async data-id="101445408" src="//static.getclicky.com/js"></script>
</head>

<body style="display: none;">
  <div id="intro">
    <div class="col">
      <!-- <img src="images/intro-img-qr.jpg" alt="" width="120"> -->
      <h1>Crea il tuo cartello <br>VENDESI 🪧</h1>
      <h2>Generatore online con QR Code integrato</h3>
        <p>Da usare come annuncio per la vendita di proprietà (es. casa, macchina...).</p>
        <ul>
          <li>💅 Strumento <strong>facile</strong> e <strong>gratuito</strong></li>
          <li>✏️ Contenuto <strong>personalizzabile</strong></li>
          <li>🖨️ Pronto per la <strong>stampa</strong> <small>(formato A4)</small></li>
          <li><img class="qr-code" src="images/qr-code.jpg" alt="Qr-code" width="16 "> <strong>QR Code</strong> con i
            contatti <small>(opzionale)</small></li>
        </ul>
        <hr>
        <p class="small">🎖️ Sito sicuro! Su questo sito non viene né salvato né conservato alcun dato.</p>
        <p class="small">👩‍⚖️ Il cartello è in regola con le normative? <br>
          Se rispetti alcune indicazioni (<a rel="nofollow"
            href="https://casavo.com/it/guide/come-vendere-casa/cartello-vendesi-dove-si-compra-e-cosa-scriverci/"
            target="_blank">casavo.com</a> e <a rel="nofollow"
            href="https://www.money.it/cartello-vendesi-si-pagano-imposte-marche-bollo" target="_blank"
            rel="noopener noreferrer">money.it</a>).</p>
        <p class="small">Per ogni esigenza, puoi scrivere un messaggio <a
            href="mailto:ciao@getapp.it?subject=Messaggio da Cartello Vendesi">qui</a>.</p>
        <a href="#wall" class="btn">👇 CREA IL TUO CARTELLO!</a>
        <a id="btn-print-ex" class="btn btn-print-ex" href="#">🖨️ APRI L'ESEMPIO</a>
        <!-- <img width="64" src="img/arrow.svg" alt=""> -->
    </div>
    <div class="col">
      <img src="images/intro-img.svg" alt="Cartello Vendesi" width="600">
    </div>
  </div>
  <div id="wall">

    <div id="cartello">
      <div id="descrizione">
        <div id="desc1-show">95MQ - 3°PT SENZA ASCENSORE</div>
        <div id="desc2-show">3 CAMERE, CUCINA, BALCONE</div>
        <div id="desc3-show">€ 290.000 (TRATTABILI)</div>
      </div>
      <div id="rivolgersi">
        <span id="name-show">Marco</span>
        <span id="surname-show">Gargo</span>
        <span id="tel-show">333 12 34 567</span>
      </div>
      <canvas id="qrcode" class="qrcode hidden"></canvas>
      <div id="qrcode-placeholder" class="qrcode">
        <img src="images/qr-code.jpg" alt="Qr-code" />
      </div>
      <img class="sale-sign" src="images/sale-sign.svg" alt="Cartello" />
      <img class="sale-sign-no-qrc" src="images/sale-sign-no-qrc.svg" alt="Cartello" />
    </div>

    <div id="setting">
      <h4>Testo del cartello</h4>
      <ul class="testo">
        <li>
          <input type="text" id="desc1" placeholder="95MQ - 3°PT SENZA ASCENSORE" />
        </li>
        <li>
          <input type="text" id="desc2" placeholder="3 CAMERE, CUCINA, BALCONE" />
        </li>
        <li>
          <input type="text" id="desc3" placeholder="€ 290.000 (TRATTABILI)" />
        </li>
      </ul>

      <h4>Rivolgersi a</h4>
      <ul>
        <li>
          <span>Nome</span> <input type="text" id="name" placeholder="Marco" />
        </li>
        <li>
          <span>Cognome</span> <input type="text" id="surname" placeholder="Gargo" />
        </li>
        <li>
          <span>Telefono</span> <input type="tel" id="tel" placeholder="333 12 34 567" />
        </li>
      </ul>

      <h4 class="qr-code">Nascondi qr-code</h4>
      <label class="switch">
        <input id="qrcode-switcher" type="checkbox">
        <span class="slider round"></span>
      </label>

      <div id="qrcode-elements">
        <h4>Indirizzo per qr-code</h4>
        <ul>
          <li>
            <span>Via</span> <input type="text" id="qrcode-elements-street" placeholder="Piazza Piola 13" />
          </li>
          <li>
            <span>Città</span> <input type="text" id="qrcode-elements-city" placeholder="Milano" />
          </li>
        </ul>
      </div>
      <div>
        <a id="btn-print" class="btn" href="#STAMPA">🖨️ STAMPA</a>
      </div>
      <div>
        <p>🙋🏻‍♂️ Consigli per la stampa: rimuovi i margini, intestazione e piè di pagina.</p>
      </div>
    </div>
  </div>

  <noscript>
    <p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101445408ns.gif" /></p>
  </noscript>
</body>

</html>